body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

.fixed-header, .fixed-footer {
    width: 100%;
    background: #343a40;
    color: white;
    padding: 10px 0;
}

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
}

.main-content {
    padding-top: 70px; /* Adjust based on header height */
    padding-bottom: 70px; /* Adjust based on footer height */
}

.bg-body-tertiary {
    background: #FFF5EE !important; /* Optional: Set the background color for the navbar */
}

.navbar .container-fluid,
.navbar-collapse {
    display: flex;
}
